Camera/Data/[A-Z]/
.idea/COGS-118B-Final-Project-Template-.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
AP_WritingSample_ASL_Proposal.ipynb
FinalProject_ASL_Classification.ipynb.tmp
